interactions:
- request:
    body: '{"location": "eastus", "tags": {"key": "value"}, "sku": {"name": "Standard_S1",
      "capacity": 1}, "properties": {"hostNamePrefix": "signalr000002", "features":
      [{"flag": "ServiceMode", "value": "Classic"}], "cors": {"allowedOrigins": ["http://example1.com",
      "http://example2.com"]}, "networkACLs": {"defaultAction": "Deny"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/signalR/signalr000002?api-version=2020-05-01
  response:
    body:
      string: '{"sku":{"name":"Standard_S1","tier":"Standard","size":"S1","capacity":1},"properties":{"provisioningState":"Creating","externalIP":null,"hostName":"signalr000002.service.signalr.net","publicPort":443,"serverPort":443,"version":"1.0-preview","privateEndpointConnections":[],"hostNamePrefix":"signalr000002","features":[{"flag":"ServiceMode","value":"Classic","properties":{}},{"flag":"EnableConnectivityLogs","value":"False","properties":{}},{"flag":"EnableMessagingLogs","value":"False","properties":{}}],"cors":{"allowedOrigins":["http://example1.com","http://example2.com"]},"upstream":{"templates":null},"networkACLs":{"defaultAction":"Deny","publicNetwork":{"allow":null,"deny":null},"privateEndpoints":[]}},"kind":"SignalR","location":"eastus","tags":{"key":"value"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/SignalR/signalr000002","name":"signalr000002","type":"Microsoft.SignalRService/SignalR"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr000002/operationId/76e77a8c-eae7-4f24-a1f5-5c14b1445fea?api-version=2020-05-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/eastus/operationResults/76e77a8c-eae7-4f24-a1f5-5c14b1445fea/SignalR/signalr000002?api-version=2020-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
      x-rp-server-mvid:
      - 55bd3e84-35c8-42d9-8de9-042c3a9c1079
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr000002/operationId/76e77a8c-eae7-4f24-a1f5-5c14b1445fea?api-version=2020-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr000002/operationId/76e77a8c-eae7-4f24-a1f5-5c14b1445fea","name":"76e77a8c-eae7-4f24-a1f5-5c14b1445fea","status":"Running","startTime":"2020-06-17T09:16:47.926138Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 55bd3e84-35c8-42d9-8de9-042c3a9c1079
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr000002/operationId/76e77a8c-eae7-4f24-a1f5-5c14b1445fea?api-version=2020-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr000002/operationId/76e77a8c-eae7-4f24-a1f5-5c14b1445fea","name":"76e77a8c-eae7-4f24-a1f5-5c14b1445fea","status":"Succeeded","startTime":"2020-06-17T09:16:47.926138Z","endTime":"2020-06-17T09:18:43.2170676Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 55bd3e84-35c8-42d9-8de9-042c3a9c1079
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"upstream": {"templates": [{"hubPattern": "chat", "eventPattern":
      "connected", "categoryPattern": "connections", "urlTemplate": "http://host1.com"},
      {"categoryPattern": "messages", "urlTemplate": "http://host2.com"}]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/signalR/signalr000002?api-version=2020-05-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr000002/operationId/9250ba43-68a0-4951-99c8-d69f6633138f?api-version=2020-05-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/eastus/operationResults/9250ba43-68a0-4951-99c8-d69f6633138f/SignalR/signalr000002?api-version=2020-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
      x-rp-server-mvid:
      - 55bd3e84-35c8-42d9-8de9-042c3a9c1079
    status:
      code: 202
      message: Accepted
[...]
